@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*-------------Header---------------*/
.header{
    height: 10vh;
    width: 100%;
    align-items: center;
    background-color: #DBD19E;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    margin-left: 35%;
    flex: 1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    position: relative;
}
.nav-links ul li a{
    color: purple;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after{
    width: 100%;
}
.header a img{
    height: 10vh;
    width: 13vh;
}
.search-box{
    border-radius: 2vh;
    background-color: antiquewhite;
    position: absolute;
    right: 0%;
    top: 2vh;
    height: 5vh;
    width: 50vh;
    transform: translate(-50%-50%);
}
.search-box a{
    color: brown;
    float: right;
    width: 40px;
    height:  38px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    transform: translate(0%,50%);
    position: absolute;
    left: 3%;
    bottom: 50%;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 45px;
}

/* ---------- Desciption ---------------*/
.description{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/BOOK_OTTILIE-1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box{
    width: 90%; 
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.description div h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size:  16px;
    color: #fff;
}



/*-------Footer--------*/
.about tr th{
    color: black;  
    font-size: 24px;
}
.about {
    width: 100%;
    background-color: #F0C75B;
}
.about tr td{
    text-align: center;
}
.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 35%;
    bottom: 40px;
}
